.container {
  display: flex;

  background-color: var(--secondary-background);
  height: calc(100vh - 4.45rem);
  color: var(--primary-text);
}

.listItem {
  list-style: none;
}

.column {
  width: 50vw;
  height: 90vh;
  overflow: auto;
}
.column:not(:nth-child(1)) {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.exit {
  display: none;
}

@media screen and (max-width: 600px) {
  .exit {
    color: var(--primary-background);
    right: 0;
    bottom: 0;
    display: block;
    position: fixed;
    background: inherit;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 9999999;
    transform: translateX(-3rem) translateY(-1.2rem);
  }
  .container {
    flex-direction: column;
    height: calc(100vh - 3.5rem);
  }
  .games {
    overflow: auto;
  }
  .gamesDiv {
    width: 100vw;
  }
  .map {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .chat {
  }
  .column:not(:nth-child(1)) {
    width: 100vw;
    overflow: none;
    align-items: auto;
    justify-content: auto;
    display: block;
    flex-direction: auto;
  }
  .chatMap {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--secondary-background);
  }
}
