.outerContainer {
  width: 30vw;
  height: calc(100vh - 6rem);
  background: var(--secondary-background);
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  color: #000000;
}
.header {
  text-align: center;
  font-size: 24px;
  color: var(--primary-text);
}
.chatContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  padding: 0.5rem;
}
.messageContainer {
  display: flex;
  flex-direction: column;
}
.right {
  margin-left: auto;
  list-style: none;
}
.left {
  margin-right: auto;
  list-style: none;
}
.user,
.other {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-bottom: 0.1rem;
}

.user {
  background: var(--primary-background);
  margin-left: auto;
}

.other {
  background: var(--primary-text);
  margin-right: auto;
}

.player {
  color: var(--primary-text);
  opacity: 50%;
  padding: 0 1rem;
  margin: 0.9rem 0 0.2rem 0;
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  border-radius: 0.5rem;
  background: var(--primary-text);
}
.input {
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
.submit {
  margin-right: 1rem;
  background: var(--primary-text);
  border: none;
  cursor: pointer;
}
.tabs {
  display: flex;
  justify-content: center;
}
.tab {
  background: #1f1f1f;
  padding: 1.5vh 3vw;
  cursor: pointer;
  list-style: none;
  color: var(--primary-text);
  user-select: none;
}
.tab:nth-child(1) {
  border-radius: 0.5rem 0 0 0.5rem;
}
.tab:nth-child(3) {
  border-radius: 0 0.5rem 0.5rem 0;
}
.tab:hover {
  opacity: 80%;
}

::-webkit-scrollbar {
  background: var(--secondary-background);
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: 1rem;
}

a.active {
  background: #000000;
}

@media screen and (max-width: 600px) {
  .outerContainer {
    position: absolute;
    z-index: 1000;
    width: 100vw;
  }
  .tab {
    width: 8rem;
    text-align: center;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
