@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 2.5rem);
  background-image: url(/src/assets/img/backgroundimage.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer h1 {
  margin-top: 2rem;
  font-size: 5rem;
  font-family: "Creepster", cursive;
  letter-spacing: 0.1rem;
  background: linear-gradient(rgb(221, 12, 12), rgb(5, 5, 5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headerContainer p {
  margin: 1rem 3rem 0 3rem;
  max-width: 50rem;
  font-size: 2rem;
  font-family: "Nosifer", cursive;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.buttonContainer button {
  padding: 1rem 3rem;
  border-radius: 1rem;
  background: var(--primary-background);
  color: rgb(0, 0, 0);
  font-size: 2rem;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #002400;
  cursor: pointer;
}

.buttonContainer button:hover {
  opacity: 70%;
}

@media screen and (max-width: 600px) {
  .headerContainer {
    text-align: center;
  }
  .headerContainer h1 {
    font-size: 3rem;
  }
  .mainContainer {
    height: 100vh;
  }
}
