.container {
  padding: 0 1rem;
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
}
.header {
  margin: 0 0 2rem 0;
}
.formValues {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.name,
.inputs,
.btnDiv {
  display: flex;
}

.description {
  height: 6rem;
  resize: none;
  width: 16rem;
}

.name {
  justify-content: center;
  align-items: center;
  margin: 0 0 1rem 0;
}
.name > * {
  padding: 1rem;
}
.name > *:not(:first-child) {
  margin-left: 1rem;
}

.inputs {
  flex-direction: column;
}

.input {
  border-radius: 0.5rem;
  border: 1px solid black;
  outline: none;
}

.latlng {
  width: 40%;
  text-align: center;
}

.se,
.nw {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.se > *,
.nw > * {
  padding: 0.5rem;
  margin: 0.5rem;
}

.btnDiv {
  justify-content: center;
}

.createBtn {
  padding: 1rem;
  width: 50%;
  margin: 1rem 0 0 0;
  border-radius: 0.5rem;
  cursor: pointer;
  background: var(--primary-background);
  outline: none;
  border: 1px solid black;
}

.label {
  padding: 0;
  margin: 0 0 0 15rem;
}

@media screen and (max-width: 600px) {
  .container {
    border: none;
    padding: 0;
  }
  .se,
  .nw {
    display: flex;
    grid-template-columns: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .label {
    padding: 0;
    margin: 0;
  }
  .latlng {
    width: 80%;
  }
  .createBtn {
    margin: 0;
  }
}
