.container {
  height: calc(100vh - 4.5rem);
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: var(--secondary-background);
  align-items: center;
  justify-content: center;
  color: var(--primary-text);
  text-align: center;
}
.faction {
  margin: 0 0 3rem 0;
}
.username {
  text-align: center;
}
.stars {
  display: flex;
  justify-content: center;
}
.star {
  list-style: none;
  color: var(--primary-background);
}

.rank {
  padding: 1rem 0;
}
.image {
  filter: invert(0.5) sepia(1) hue-rotate(350deg) saturate(4) brightness(1);
}
.error {
  text-align: center;
}
.logo {
  transform: translate(0, -1rem);
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  height: 100%;
}

.logo:before {
  content: "";
  position: absolute;
  top: 0;
  left: -300px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  transition: 0.3s;
}

.logo:hover:before {
  left: 250px;
  background: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 600px) {
  .container {
    height: calc(100vh - 3.5rem);
  }
}
