.container {
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  width: 15rem;
  height: 100vh;
  background-color: rgb(59, 58, 58);

  transition: all 0.25s;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar header {
  font-size: 2rem;
  color: var(--primary-text);
  text-align: center;
  line-height: 7rem;
  user-select: none;
}

.sideBarItem {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sidebar ul button {
  text-align: center;
  display: block;
  height: 100%;
  width: calc(100% - 0.5rem);
  line-height: 3rem;
  font-size: 20px;
  box-sizing: border-box;
  border: none;
  background-color: var(--secondary-background);
  color: var(--primary-text);
  transition: 0.25s;
  cursor: pointer;
}

.icon {
  color: var(--primary-background);
  display: flex;
  justify-content: flex-end;
}

.innerIcon {
  font-size: 48px;
}

.sidebar ul li:hover button {
  background-color: gray;
}

.sidebar ul button:hover .NavIcon {
  padding-left: 0.5rem;
}

.gameFeats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameFeatsItem {
  width: 100%;
}

.featButton {
  width: 100%;
  background-color: var(--primary-background) !important;
  color: #000000 !important;
  text-align: left !important;
}
.featButton:hover {
  background-color: #abff84 !important;
}

.listIcon {
  margin: 0 2rem 0 2rem;
}
