.container {
  min-height: calc(100vh - 4.45rem);
  background: var(--secondary-background);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  width: 100vw;
  flex-direction: column;
}
.map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  color: var(--primary-text);
}

.createGameElements {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    min-height: calc(100vh - 3rem);
  }
  .map {
    border: none;
  }
}

@media screen and (max-width: 600px) {
  .gameList {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(2rem);
    height: calc(100vh - 6.5rem);
    border: none;
    background: var(--secondary-background);
    padding: 0 1rem;
  }
  .gameList > * > * > * {
    height: inherit;
  }
  .gameList > * {
    border: none;
  }
  .games {
    height: calc(100vh - 7.5rem);
  }
}
