menu {
  --size: 2.5rem;
  --radius: 6rem;
  --padding: 1rem;
  --bg-color: var(--secondary-background);
  --fg-color: rgba(0, 0, 0, 0.7);
  --hi-color: var(--primary-background);

  z-index: 999999;
  display: block;
}
p {
  font-size: 1.5rem;
}
.container {
  display: flex;
  min-height: calc(100vh - 4.5rem);
  background: var(--secondary-background);
  color: var(--primary-text);
  justify-content: space-between;
}

.column {
  width: 50vw;
  height: 90vh;
  overflow: auto;
  margin-left: auto;
}
.header {
  display: flex;
  flex-direction: column;
  padding: 10rem 0 0 0;
  margin-left: 5rem;
  margin-right: 3rem;
  width: 35rem;
}
.rulesTitle {
  margin: 1rem 0 0.5rem 0;
}
.rulesParagraph {
  margin-bottom: 1rem;
}

.gameRules {
  display: flex;
  width: 45rem;
  flex-direction: column;
  justify-content: center;
}
.listItem {
  list-style: none;
}
.rules {
  visibility: hidden;
}

.disableCard {
  pointer-events: none;
  opacity: 0.6;
  -webkit-filter: grayscale(1);
}

@media screen and (max-width: 600px) {
  .header {
    display: none;
  }
  .column {
    width: 100vw;
  }
  .games {
    overflow: auto;
    min-height: calc(100vh - 3.5rem);
  }
  .container {
    height: calc(100vh - 3.5rem);
  }
  menu > .rules {
    visibility: visible;
    width: var(--size);
    height: var(--size);
    right: calc(0.35 * var(--size));
    top: calc(0.35 * var(--size));
  }

  .rulesContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    color: var(--primary-text);
  }

  .gameRules {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--secondary-background);
    padding: 1rem;
    border-radius: 1rem;
    width: auto;
  }
  .close {
    transform: scale(1.5);
    background: inherit;
    border: none;
    color: var(--primary-text);
    cursor: pointer;
    display: flex;
    margin-left: 21rem;
    margin-bottom: -2rem;
  }
  .close:hover {
    opacity: 80%;
  }
  .rulesIcon {
    width: 1.5rem;
    height: var(--size);
    top: 0;
  }
}
