.cardContainer {
  border-radius: 50px;
  background: #292929;
  box-shadow: -20px -20px 60px #232323, 20px 20px 60px #2f2f2f;
  margin: 2rem;
  padding: 2rem;
  user-select: none;
  cursor: pointer;
}

.title {
  padding-bottom: 0.3rem;
}

.players {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.zombies {
  margin: auto;
  margin-top: 1rem;
  width: 8rem;
}

.zombie {
  width: 50%;
}

.gameDescriptionContainer {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;
  flex-wrap: wrap;
}
.descriptionContainer {
  width: 60%;
}

.gameDescription {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.description {
  font-size: 1rem;
  width: 20rem;
  margin: 0.5rem 0 0 0;
}
.squadUl {
  margin-top: 0.5rem;
}
.squadListItems {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

ul {
  list-style: none;
}
.gameDescriptionColumn {
  display: flex;
  flex-direction: column;
}
.buttonDiv {
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  text-align: center;
}

.button {
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  cursor: pointer;
  background: var(--primary-background);
}
.button:hover {
  opacity: 80%;
}

.mapContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.mapContainer Map {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .cardContainer {
    height: calc(100vw- 3.5rem);
  }

  .squadList {
    margin-left: 1rem;
    width: 6rem;
    height: 6rem;
    overflow: auto;
  }
  .description {
    font-size: 1rem;
    width: 9rem;
    height: 6rem;
    overflow: auto;
  }
  .gameDescription {
    width: 100%;
  }

  .squadListItems {
    font-size: 1rem;
    width: 6rem;
  }

  .mapContainer Map {
    width: 60vw;
  }
}
