.container {
  display: flex;
  color: var(--primary-text);
  flex-direction: column;
  padding: 0 2rem;
}

.header {
  padding: 1rem 0;
}

.gamesDiv {
  width: 100%;
  height: 100%;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 26vh;
  overflow: auto;
}

.gameItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--primary-background);
}

.gameItem > * {
  padding: 0.5rem;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0;
  }
  .games {
    height: 35vh;
  }
}
