.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.close {
  transform: scale(1.5);
  background: inherit;
  border: none;
  color: var(--primary-text);
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 1rem;
}
.close:hover {
  opacity: 80%;
}
.formContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--secondary-background);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--primary-text);
  text-align: center;
}
.formContainer > div > h1 {
  margin: 1rem;
}
