.container {
  background: var(--secondary-background);
  height: calc(100vh - 4.5rem);
  display: flex;
}
.imgContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  border-radius: 1rem;
  background: var(--secondary-background);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gameHeader,
.lobbyMessage,
.completeMessage {
  color: #fff;
  text-align: center;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}
.gameTitle {
  margin-bottom: 1rem;
}
.lobbyMessage {
  padding: 10rem 0;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem 1rem 1rem 1rem;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  cursor: pointer;
  background: var(--primary-background);
}
.btn:hover {
  opacity: 80%;
}
.leave {
  background: var(--tertiary-background);
}
.actionBtn {
  visibility: hidden;
}
.disableBtn {
  pointer-events: none;
  opacity: 0.6;
  -webkit-filter: grayscale(1);
}

@media screen and (max-width: 600px) {
  .imgContainer {
    width: 100vw;
    min-height: 100vh;
    align-items: flex-start;
  }
  .container {
    height: 100vh;
  }
  .buttons {
    display: none;
  }
  .main {
    padding: 0;
  }
  .actionBtn {
    visibility: visible;
    margin: 2rem 0 0 0;
  }
  .gameHeader {
    padding-bottom: 0;
  }
}
