.container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  color: var(--primary-text);
}

.close {
  transform: scale(1.5);
  background: inherit;
  border: none;
  color: var(--primary-text);
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 1rem;
}
.close:hover {
  opacity: 80%;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--secondary-background);
  padding: 2rem 3rem;
  border-radius: 1rem;
}

.formContainer > form > input {
  margin: 0.3rem 0;
}

.input {
  width: 80%;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--primary-background);
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 1rem;
}

.submit {
  margin-top: 0.5rem;
}

.button:hover {
  opacity: 80%;
}
