menu {
  --size: 2.5rem;
  --radius: 6rem;
  --padding: 1rem;
  --bg-color: var(--secondary-background);
  --fg-color: rgba(0, 0, 0, 0.7);
  --hi-color: var(--primary-background);

  z-index: 999999;
  display: block;
}

menu > * {
  position: absolute;

  border-radius: 50%;

  background: var(--bg-color);
  color: var(--primary-text);

  text-decoration: none;

  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

menu > * > * {
  display: flex;
  justify-content: center;
  align-items: center;
  position: inherit;
  right: calc(0.5 * var(--padding));
  bottom: calc(0.5 * var(--padding));
}

menu > .action {
  --factor: 0;

  width: var(--size);
  height: var(--size);
  right: calc(0.35 * var(--size));
  top: calc(0.35 * var(--size));

  opacity: 0;

  transform: rotate(calc(-1 * var(--angle)))
    translateY(calc(-1 * var(--radius) * var(--factor))) rotate(var(--angle));

  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out,
    box-shadow 250ms ease-in-out, color 250ms ease-in-out;
}

menu > .action:hover,
menu > .trigger:hover {
  color: var(--hi-color);
  fill: var(--hi-color);
  box-shadow: 0px 0px 0px 0.35rem rgba(0, 0, 0, 0.2);
}

.death:hover {
  filter: invert(0.5) sepia(1) hue-rotate(45deg) saturate(4) brightness(1);
  transition: filter 250ms ease-in-out;
}

menu.open > .action {
  --factor: 1;

  opacity: 1;
}

menu > .action:nth-child(1) {
  --angle: 60deg;
  transition-delay: 0ms;
  transform: translateY(calc(0.5 * var(--radius) * var(--factor)));
}

menu > .action:nth-child(2) {
  --angle: 90deg;
  transition-delay: 50ms;
  transform: translateY(calc(1 * var(--radius) * var(--factor)));
}

menu > .action:nth-child(3) {
  --angle: 120deg;
  transition-delay: 100ms;
  transform: translateY(calc(1.5 * var(--radius) * var(--factor)));
}

menu > .action:nth-child(4) {
  --angle: 150deg;
  transition-delay: 150ms;
  transform: translateY(calc(0.5 * var(--radius) * var(--factor)));
  visibility: hidden;
}

menu > .action:nth-child(5) {
  --angle: 180deg;
  transition-delay: 200ms;
  transform: translateY(calc(1 * var(--radius) * var(--factor)));
  visibility: hidden;
}

menu > .action:nth-child(6) {
  --angle: 210deg;
  transition-delay: 250ms;
  transform: translateY(calc(1.5 * var(--radius) * var(--factor)));
  visibility: hidden;
}

menu > .trigger {
  width: var(--size);
  height: var(--size);
  right: calc(0.35 * var(--size));
  top: calc(0.35 * var(--size));
  font-size: 1rem;
  transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out;
}

menu > .trigger > i {
  transition: transform 250ms ease-in-out;
}

menu.open > .trigger > i {
  transform: rotate(-135deg);
}

@media screen and (max-width: 600px) {
  menu > .trigger {
    top: auto;
    bottom: var(--padding);
    right: var(--padding);
  }
  menu > .action {
    bottom: calc(0.35 * var(--size));
    top: auto;
  }
  menu > .action:nth-child(1) {
    --angle: 0deg;
    transition-delay: 0ms;
    transform: translateY(calc(-0.8 * var(--radius) * var(--factor)));
  }

  menu > .action:nth-child(2) {
    --angle: 0deg;
    transition-delay: 0ms;
    transform: translateY(calc(-1.3 * var(--radius) * var(--factor)));
  }

  menu > .action:nth-child(3) {
    --angle: 30deg;
    transition-delay: 50ms;
    transform: translateY(calc(-1.8 * var(--radius) * var(--factor)));
  }

  menu > .action:nth-child(4) {
    --angle: 60deg;
    transition-delay: 100ms;
    transform: translateY(calc(-2.3 * var(--radius) * var(--factor)));
    visibility: visible;
  }

  menu > .action:nth-child(5) {
    --angle: 90deg;
    transition-delay: 150ms;
    transform: translateY(calc(-2.8 * var(--radius) * var(--factor)));
    visibility: visible;
  }
  menu > .action:nth-child(6) {
    --angle: 180deg;
    transition-delay: 200ms;
    transform: translateY(calc(-3.3 * var(--radius) * var(--factor)));
    visibility: visible;
  }
}
