.container {
  min-height: calc(100vh - 4.5rem);
  background: var(--secondary-background);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 2rem;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  color: var(--primary-text);
}

.createMissionElements {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    height: calc(100vh - 3.5rem);
    overflow: auto;
  }
  .map {
    border: none;
  }
}
