.container {
  display: flex;
  color: var(--primary-text);
  flex-direction: column;
}

.header {
  padding: 1rem 0;
}

.gamesDiv {
  width: 100%;
  height: 100%;
}

.games {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  min-height: 26vh;
  overflow: auto;
}
.gameItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--primary-background);
}

.gameItem > * {
  padding: 0.5rem;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--secondary-background);
    height: calc(100vh - 6.5rem);
    width: 100vw;
  }
}
