.container {
  height: calc(100vh - 4.5rem);
  background: var(--secondary-background);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    justify-content: center;
    height: calc(100vh - 3.5rem);
    overflow: auto;
  }
}
