.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Map {
  height: 70vh;
  width: 68vw;
  border-radius: 1rem;
}

.posBtns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.posBtn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--primary-background);
  border: 1px solid black;
  cursor: pointer;
}

.posBtn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .Map {
    width: 100vw;
    top: 0;
    left: 0;
    transform: translateY(2rem);
  }
}
