.container {
  display: flex;
  color: var(--primary-text);
  flex-direction: column;
  width: 25vw;
}

.header {
  padding: 1rem 0;
}

.gamesDiv {
  width: 100%;
  height: 100%;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 26vh;
  overflow: auto;
}

.gameItem {
  display: flex;
  flex-wrap: wrap;
  width: 10vw;
  border-bottom: 1px solid var(--primary-background);
}

.gameItem > * {
  padding: 0.5rem;
  font-size: 20px;
}
