.container {
  display: flex;
  justify-content: space-evenly;
}

.container > * {
  padding: 0 1rem;
}

@media screen and (max-width: 600px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(2rem);
    border: none;
    background: var(--secondary-background);
    flex-direction: column;
    height: calc(100vh - 6.5rem);
  }
  .container > * {
    border: none;
  }
}
