.container {
  display: flex;
  flex-direction: column;
  color: var(--primary-text);
  padding: 1rem;
  border-right: 1px solid black;
}

.header {
  margin: 0 0 2rem 0;
}

.formValues {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.inputDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  place-items: center;
}

.inputDiv label {
  width: 100%;
}

.inputDiv input,
select,
textarea {
  width: 15rem;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid black;
  outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.option:hover {
  background: var(--primary-background);
}

.submitBtn {
  padding: 1rem;
  background: var(--primary-background);
  border-radius: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
  margin: 1rem 0;
  width: 25vw;
}

@media screen and (max-width: 600px) {
  .container {
    border: none;
  }
}
