@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Patrick+Hand&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

:root {
  --primary-text: #ffffff;
  --primary-background: #80e200;
  --secondary-background: #292929;
  --secondary-text: #000000;
  --tertiary-background: #ff3e3e;
}
