.Navbar {
  display: flex;
  background-color: var(--secondary-background);
  padding: 0.75rem 0;
}
.NavbarMenu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.NavbarMenuRight {
  margin-left: auto;
}
.NavbarBrand {
  font-weight: bold;
  color: var(--primary-text);
  user-select: none;
}
.NavbarMenuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}
.NavbarMenuItem a {
  color: var(--primary-text);
  display: block;
  text-decoration: none;
  padding: 1.25em;
}
.NavbarMenuItem h4 {
  background: linear-gradient(rgb(221, 12, 12), rgb(5, 5, 5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1.25em;
}
a.NavbarActive {
  background-color: var(--primary-background);
  color: var(--secondary-text);
}
.button {
  background: inherit;
  border: none;
  color: var(--primary-text);
  cursor: pointer;
}

#dashboard {
  font-size: 0;
}
#dashboard::before {
  content: "home";
  font-size: 2rem;
}
#profile {
  font-size: 0;
}
#profile::before {
  content: "person";
  font-size: 2rem;
}
#game {
  font-size: 0;
}
#game::before {
  content: "games";
  font-size: 2rem;
}

.NavbarMenuItem:last-child {
  margin-right: 4rem;
}

a.NavbarActive::before {
  background-color: var(--secondary-background);
  color: var(--primary-background);
}

@media screen and (max-width: 600px) {
  .Navbar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 1rem 0;
    z-index: 999999;
  }
  #game {
  }
  .NavbarBrand {
    display: none;
  }

  .NavbarMenuRight {
    margin-left: 0;
  }
  .NavbarMenuItem {
    padding: 0;
  }
  .NavbarMenuRight {
    justify-content: space-evenly;
    width: 100vw;
  }
  .button {
    display: none;
  }
}
